<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Map</title>
   
    <!-----------------------------Leaflet MAP IMPORT---------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link rel="stylesheet" href="./css/map.css">
    <script src="./L.KML.js"></script>
    <script src="./mapJS.js" type="module"></script>

    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/"></script>
    <link rel="stylesheet" href="./markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="./markercluster/dist/MarkerCluster.Default.css">
    <script src="./markercluster/dist/leaflet.markercluster.js"></script>



    

    <!-----------------------------Leaflet MAP IMPORT---------------------------------------->

    <!-----------------------------VueJS---------------------------------------->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <!-----------------------------Jquery---------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-----------------------------Bootstrap---------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<!--    <div id="app">-->
        <input v-on:keyup.enter="searchPlaces()" v-model="suche" type="text"></input>
        <button v-on:click="searchPlaces()"> Suchen </button>
        <p v-for="(vorschlag, index) in vorschlaege" v-on:click="addPlace(index)" :key="vorschlag"> {{vorschlag}}</p>
        <p>Added Items:</p>
        <p v-for="item in items">
            {{item.name}}
            {{item.long}} , {{item.lat}}
        </p>
        <button v-on:click="savePlaces" class="btn btn-primary">Standorte Abspeichern</button>
<!--    </div>-->

    <div id="mapid"></div>


    <div class="card text-white bg-dark mb-3" id="search_card">
        <div id="app">
            <div class="card-header">
                <ul id="listInput">
                    <li><input v-on:keyup.enter="searchPlaces()" v-model="suche" type="text" class="form-control"></input></li>
                    <li><button v-on:click="searchPlaces()" class="btn btn-primary"> Suchen </button></li>
                    <ul>
                        <li v-for="(vorschlag, index) in vorschlaege" v-on:click="addPlace(index)" :key="vorschlag"> {{vorschlag}}</li>
<!--                        <div class="dropdown-divider"></div>-->
                    </ul>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Added Items</h5>
                <div id="itemlist">
                    <p v-for="item in items">
                    {{item.name}}
                    {{item.long}} , {{item.lat}}
                </p>
                </div>
                <button v-on:click="savePlaces" class="btn btn-primary" id="button_saveItems">Standorte Abspeichern</button>
                <form action="index.html">
                    <button type="submit" class="btn btn-danger" id="button_backMap">Zurück</button>
                </form>
            </div>
        </div>
    </div>

    <div id="mapid"></div>


</body>
</html>