<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <!-----------------------------Leaflet MAP IMPORT---------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link rel="stylesheet" href="./css/map.css">
    <script src="./L.KML.js"></script>
    <script src="./mapJS.js" type="module"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/"></script>
    <!-----------------------------Leaflet MAP IMPORT---------------------------------------->

    <!-----------------------------VueJS---------------------------------------->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <!-----------------------------Jquery---------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>

    <div id="app">
        <input v-on:keyup.enter="searchPlaces()" v-model="suche" type="text"></input>
        <button v-on:click="searchPlaces()"> Suchen </button>
        <p v-for="(vorschlag, index) in vorschlaege" v-on:click="addPlace(index)" :key="vorschlag"> {{vorschlag}}</p>
        <p>Added Items:</p>
        <p v-for="item in items">
            {{item.name}}
            {{item.long}} , {{item.lat}}
        </p>
        <button v-on:click="savePlaces">Standorte Abspeichern</button>
    </div>

    <div id="mapid"></div> 

</body>
</html>